@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root  {
    --background: 298 100% 95%;
    --foreground: 298 5% 9%;
    --card: 298 50% 90%;
    --card-foreground: 298 5% 10%;
    --popover: 298 100% 95%;
    --popover-foreground: 298 100% 9%;
    --primary: 298 50% 61%;
    --primary-foreground: 0 0% 0%;
    --secondary: 298 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 260 30% 85%;
    --muted-foreground: 298 5% 35%;
    --accent: 260 30% 80%;
    --accent-foreground: 298 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 298 5% 90%;
    --border: 298 30% 50%;
    --input: 298 30% 18%;
    --ring: 298 50% 61%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 298 50% 9%;
    --foreground: 298 5% 90%;
    --card: 298 50% 9%;
    --card-foreground: 298 5% 90%;
    --popover: 298 50% 5%;
    --popover-foreground: 298 5% 90%;
    --primary: 298 50% 61%;
    --primary-foreground: 0 0% 0%;
    --secondary: 298 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 260 30% 15%;
    --muted-foreground: 298 5% 60%;
    --accent: 260 30% 15%;
    --accent-foreground: 298 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 298 5% 90%;
    --border: 298 30% 18%;
    --input: 298 30% 18%;
    --ring: 298 50% 61%;
    --radius: 0.5rem;
  }
  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}